<table>
  <tbody>
    <tr>
      <th>Client ID</th>
      <td>
        <input type="text" id="settings_client_id"
                           value="<%= settings['client_id'] %>"
                           name="settings[client_id]" >
      </td>
      <th>Client Secret</th>
      <td>
        <input type="text" id="settings_client_secret"
                           value="<%= settings['client_secret'] %>"
                           name="settings[client_secret]" >
      </td>
      <th>Password</th>
      <td>
        <input type="text" id="settings_password"
                           value="<%= settings['password'] %>"
                           name="settings[password]" >
      </td>
    </tr>
  </tbody>
</table>
